# Output dirs
out/
bin/
# Output files
*.exe
*.obj
*.pdb

# CMake-related
CMakeFiles/
ThePit.dir/
x64/
*.recipe
# VisualStudio-related
.vscode/
.vs/
*.filters
*.sln
*.vcxproj

# Test assets
assets/test/
