[submodule "libs/sokol"]
	path = libs/sokol
	url = https://github.com/floooh/sokol.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/icaven/glm
[submodule "libs/soloud"]
	path = libs/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "libs/sokol-tools-bin"]
	path = libs/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
